@import "../../style.scss";

.comments{
    @include themify($themes){
        background-color: themed("bgSoft");
        border-radius: 10px;
        
        img{
            
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }

        .comment{
            margin: 30px 0px;
            display:flex;
            gap: 10px;
            justify-content: space-between;

            .info{
                display: flex;
                flex-direction: column;
                gap: 3px;
                align-items: flex-start;
                width: 600px;
                span{
                    font-weight: 500;
                }
                
            }
            .date{
                flex: 1;
                align-self: center;
            } 
            }
            
    }
}